In [34]:
# Import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load your dataset
columns_to_select = ['Country', 'Project type', 'Announcement','Project Status',\
                     'Project phase','Announced capacity (low) (Mt CO2/yr)','Sector',\
                        'Announced capacity (high) (Mt CO2/yr)']

df = pd.read_excel('data/IEA CCUS Projects Database 2023.xlsx',\
                   sheet_name = 'CCUS Projects Database', usecols=columns_to_select)

df.set_index('Announcement',inplace=True)
# Display the first few rows of the dataset
df.head()

,Country,Project type,Project Status,Project phase,Announced capacity (low) (Mt CO2/yr),Announced capacity (high) (Mt CO2/yr),Sector
Announcement,,,,,,,
2019.0,France,Capture,Planned,1.0,1.0,1.0,Iron and steel
2022.0,United States,Capture,Planned,NaN,NaN,NaN,Hydrogen/ammonia
2007.0,United Arab Emirates,Full chain,Operational,1.0,0.8,0.8,Iron and steel
2020.0,United Arab Emirates,Full chain,Planned,2.0,1.9,1.9,Natural gas processing
2020.0,United Arab Emirates,Full chain,Planned,2.0,2.3,2.3,Natural gas processing

In [12]:
# Basic information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 573 entries, 0 to 572
Data columns (total 8 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Country                                573 non-null    object
 1   Project type                           573 non-null    object
 2   Announcement                           553 non-null    float64
 3   Project Status                         573 non-null    object
 4   Project phase                          129 non-null    float64
 5   Announced capacity (low) (Mt CO2/yr)   425 non-null    float64
 6   Announced capacity (high) (Mt CO2/yr)  425 non-null    float64
 7   Sector                                 573 non-null    object
dtypes: float64(4), object(4)
memory usage: 35.9+ KB

In [53]:
#view global project status.
df['Project Status'].value_counts()

Project Status
Planned               499
Operational            47
Under construction     23
Decommissioned          3
Suspended               1
Name: count, dtype: int64

In [52]:
#evaluate data set by country and project status
pd.crosstab(index=df['Country'], columns=df['Project Status']).\
    sort_values(by = 'Operational', ascending= False)

Project Status,Decommissioned,Operational,Planned,Suspended,Under construction
Country,,,,,
United States,2,21,158,1,7
Canada,0,7,54,0,1
People's Republic of China,0,6,10,0,4
Japan,0,2,4,0,0
Norway,0,2,22,0,3
Qatar,0,1,0,0,1
Saudi Arabia,0,1,1,0,0
Australia,0,1,25,0,3
Iceland,0,1,3,0,1
Hungary,0,1,0,0,0
Netherlands,0,1,19,0,2
United Arab Emirates,0,1,5,0,0
Belgium,0,1,10,0,0
Brazil,0,1,1,0,0
Papua New Guinea,0,0,1,0,0
"Netherlands, Germany",0,0,1,0,0
Unknown,0,0,2,0,0
New Zealand,0,0,1,0,0
United Kingdom,0,0,65,0,0
"Norway (storage), Belgium, Denmark, France, Germany, Latvia, the Netherlands, Poland, Sweden / Switzerland",0,0,1,0,0
Oman,0,0,2,0,0
Sweden,0,0,8,0,0
Singapore,0,0,1,0,0
Thailand,0,0,1,0,0
Poland,0,0,1,0,0
"Poland, Lithuania, Latvia",0,0,3,0,0
Portugal,0,0,1,0,0
Mexico,0,0,1,0,0
Russian Federation,0,0,7,0,0
Switzerland,0,0,1,0,0
Algeria,1,0,0,0,0
Korea,0,0,2,0,0
Malaysia,0,0,2,0,1
Lybia,0,0,1,0,0
Austria,0,0,1,0,0
Bahrain,0,0,1,0,0
"Belgium, Germany, Netherlands, Switzerland, United States",0,0,1,0,0
"Belgium, Norway",0,0,1,0,0
Bulgaria,0,0,1,0,0
Chile,0,0,2,0,0
Chinese Taipei,0,0,1,0,0
Croatia,0,0,2,0,0
Denmark,0,0,12,0,0
Finland,0,0,1,0,0
France,0,0,15,0,0
"France, Italy",0,0,2,0,0
Germany,0,0,15,0,0
"Germany, Norway",0,0,3,0,0
Greece,0,0,4,0,0
India,0,0,2,0,0
Indonesia,0,0,10,0,0
Ireland,0,0,3,0,0
Italy,0,0,5,0,0
"Italy, Greece",0,0,1,0,0
"Latvia, Lithuania",0,0,1,0,0
Unknown (Europe),0,0,1,0,0

In [56]:
#evaluate data set by year and project status
pd.crosstab(index=df.index, columns=df['Project Status']).sort_index( ascending=False)

Project Status,Decommissioned,Operational,Planned,Suspended,Under construction
row_0,,,,,
2023.0,0,0,37,0,0
2022.0,0,0,160,0,5
2021.0,0,1,181,0,8
2020.0,0,0,45,0,2
2019.0,0,1,31,0,3
2018.0,0,1,20,0,1
2017.0,0,0,6,0,1
2016.0,0,2,4,0,2
2015.0,0,1,1,0,0
2014.0,0,0,1,0,0
2013.0,0,1,4,0,0
2012.0,0,1,2,0,0
2011.0,0,8,2,0,0
2010.0,0,2,2,0,1
2009.0,1,4,1,1,0
2008.0,0,4,0,0,0
2007.0,0,1,0,0,0
2006.0,0,1,0,0,0
2002.0,0,1,0,0,0
1997.0,0,1,0,0,0
1991.0,0,1,0,0,0

In [57]:
df['Project type'].value_counts()

Project type
Capture       234
Full chain    145
T&S            64
Storage        52
Transport      46
CCU            32
Name: count, dtype: int64